@media (min-width: 640px) {
  .productcard__inner {
    justify-content: center;
    text-align: center;
    .wrapper, .mainwrapper{
      margin: 0 auto;
    }
  }
  .moreinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .options__inner {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .specific__main {
    justify-content: center;
  }
  .specific__files {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bestsellers__grid {
    grid-template-columns: 163px 163px 163px 163px;
    grid-template-rows: 280px;
    justify-content: center;
  }
}